.contents {
    margin-top: 311px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 44px;
}

.contents-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.contents-body {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.contents-body__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 40px 0;
    gap: 30px;
    width: 476px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background-color: #FFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.contents-body__item p {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.contents-body__item span {
    color: #5C5C5C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 288px;
    text-align: center;
}

.item-mac {
    margin-top: 50px;
}

@media (max-width: 1199px) {
    .contents {
        margin-top: 200px;
    }

    .contents-body {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .contents {}


}

@media (max-width: 426px) {
    .contents {
        margin-top: 150px;
    }

    .contents-body__item {
        width: 90%;
        gap: 35px;
        padding: 35px 10px 30px 10px;
    }

    .contents-body__item img {
        width: 80%;
    }

    .item-mac {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

@media (max-width: 321px) {

    .contents {
        margin-top: 100px;
    }

    .contents-head {
        gap: 10px;
    }

    .contents-body__item {
        width: 90%;
        gap: 15px;
        padding: 25px 10px 20px 10px;
    }

    .contents-body__item span {
        font-size: 12px;
        width: 100%;
    }

    .item-mac {
        margin-top: 15px;
    }
}