.footer {
    width: 100%;
    padding: 107px 0 88px 0;
    display: flex;
}

.footer-box {
    width: 1097px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
}

.footer-box__nav {
    display: flex;
    flex-direction: row;
    gap: 75px
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-box__nav p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
}

.footer-box__nav span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 19px;
}

.footer-box__nav span:hover {
    color: #4452FE;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

.community-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.community-contacts p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.community-contacts p:hover {
    color: #4452FE;
    cursor: pointer;
    transition: 0.2s;
}

.community-network {
    margin: 10px 0 10px 0;
    display: flex;
    gap: 24px;
}

.community-network img:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

@media (max-width: 1199px) {
    .footer-box {
        width: 100%;
        padding: 20px 50px;
        justify-content: space-between;
        gap: 0;
    }

    .footer-box__nav {
        gap: 70px;
    }

}

@media (max-width: 768px) {
    .footer {
        padding: 107px 0 40px 0;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-box__community {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .community-contacts {
        margin-bottom: 5px;
    }
}

@media (max-width: 426px) {

    .footer {
        padding: 0px 0 40px 0;
    }

    .footer-box {
        padding: 25px 75px;
        display: flex;
        align-items: flex-start;
    }

    .footer-box__nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .nav-item {
        display: flex;
        align-items: flex-start;
    }

    .footer-box__nav p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .footer-box__nav span {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .footer-box__community {
        display: flex;
        align-items: flex-start;
    }

    .community-contacts {
        margin-bottom: 10px;
    }

    .community-contacts img {
        margin-left: -10px;
    }

    .community-contacts:nth-child(2) img {
        margin-left: -4px !important;
    }

    .community-contacts p {
        font-size: 15px;
    }

    .community-network {
        margin: 5px 0 5px 0;
    }


}

@media (max-width: 321px) {
    .footer-box {
        padding: 25px 55px;
        gap: 40px;
    }
}