.opentype {
    display: flex;
    align-items: center;
    margin-top: 210px;
    justify-content: center;
    border-radius: 33px;
    background: #343434;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    padding: 35px;
    width: 1219px;
    margin: 0 auto;
    gap: 86px;
    margin-bottom: 180px;

}

.opentype-text {
    width: 500px;
    margin: 0 0 0 59px;
    display: flex;
    gap: 37px;
    flex-direction: column;
    align-items: flex-start;
}

.opentype-text p {
    width: 500px;
}

.opentype-text button {
    width: 232px;
    display: flex;
    justify-content: center;
}

.opentype img {
    border-radius: 20px;
}

.opentype img:nth-child(2) {
    display: none;
}


@media (max-width: 1199px) {
    .opentype {
        width: 100%;
        border-radius: 0;
        flex-direction: column;
        padding: 100px 0;
        gap: 60px;
    }

    .opentype-text {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .opentype img {
        border-radius: 0px;
    }

    .opentype img:nth-child(1) {
        display: none;
    }

    .opentype img:nth-child(2) {
        display: block;
    }
}

@media (max-width: 768px) {

    .opentype-text p {
        width: 480px;
    }
}

@media (max-width: 426px) {

    .opentype-text {
        width: 100%;
    }

    .opentype-text p {
        width: 80%;
    }

    .opentype img {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .opentype-text p {
        font-size: 45px;
    }
}

@media (max-width: 321px) {
    .opentype {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .opentype-text p {
        font-size: 38px;
    }
}