.partners {
    display: flex;
    flex-direction: column;
    margin-top: 210px;
}

.partners-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.partners-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-body__line {
    padding: 50px 0 50px 0;
    gap: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-body__line img:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

@media (max-width: 1199px) {}

@media (max-width: 768px) {
    .partners-body__line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
    }
}

@media (max-width: 426px) {
    .partners-body__line {
        gap: 40px;
    }

}

@media (max-width: 321px) {
    .partners-body__line {
        width: 70%;
        gap: 35px;
    }
}