.speed-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.speed-work__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.2px;
    margin: 0 0 37px 0;
}

.speed-work__buttons {
    margin: 95px 0 35px 0;
    display: flex;
    gap: 35px;
}

@media (max-width:768px) {
    .speed-work__title {
        font-size: 60px;
    }
}

@media (max-width:426px) {
    .speed-work__title {
        font-size: 52px;
        font-weight: 400;
        line-height: 62px;
    }

    .speed-work__buttons {
        gap: 20px;
        flex-direction: column;
        margin-top: 55px;
    }
}

@media (max-width:321px) {
    .speed-work__title {
        font-size: 45px;
        font-weight: 400;
        line-height: 62px;
    }
}